<head>
    <h1>Test</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>

<form action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <h2>
        {{ form.upc.label }}<br>
        {{ form.upc(size=32) }}
    </h2>
    <h2>
    	{{form.image.label}}<br>
    	{{form.image}}
    </h2>
    <p>{{ form.submit() }}</p>
    <p>{{ form.barcode_submit() }}</p>
    {% autoescape false %}
    <p>{{ text }}</p>
    {% endautoescape %}
</form>
<form action="/history" method="post">
    <button type="submit">View history</button>
</form>