h2 {
    background-color: cornflowerblue;
    background-size: 50px 100px;
    font-family: 'Segoe UI';
    height: 35px;
    width: 40%;
    opacity: .9;
    margin-bottom: 10px;
}

th {
    font-family: 'Segoe UI';
    text-align: left;
    font-weight: bold;
    color: black;
}

td {
    font-family: 'Segoe UI';
}
  