h1 {
    font-family: 'Segoe UI';
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
  }

  p {
    font-family: 'Segoe UI';
    text-align: left;
    color: darkgrey;
  }
  