html, body, input, button {
    font-family: 'Helvetica Neue', 'Helevetica', 'Arial', 'sans-serif';
}

h1 {
    font-weight: lighter;
    font-size: 50;
}

h2 {
    font-weight: lighter;
    font-size: 20;    
}

h3 {
    font-weight: lighter;
    font-size: 18;
}

.subtitle {
    font-weight: lighter;
    font-size: 35;
}

input, button {
    font-size: 18
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  
.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  
.flex-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000000;
    font-size: 18;
}