h2 {
    background-color: #DFB887;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
  }

  th {
    font-family: 'Segoe UI';
    text-align: left;
    color: darkgrey;
  }
  